<%= render 'shared/navbar' %>
<div class="container">
  <p>
    <%= link_to 'Add list', new_list_path %>
  </p>
  <ul>
    <% @lists.each do |list| %>
    <li>
      <%= link_to list.name.capitalize, list_path(list)  %>
    </li>
    <% end %>
  </ul>
</div>
